.search-container button {
  background-color: linear-gradient(to right, #FF2525, #FFA800);
  border: none;
  padding: 5px 15px; 
  border-radius: 10px;
  cursor: pointer;
}

.tag {
  display: inline-block; 
  margin: 5px; 
}

.tag .border-custom {
  background-color: transparent;
  border: 1px solid #FF2525;
  border-radius: 50px;
  padding: 5px 15px; 
  transition: background-color 0.3s ease;
}

.tag .border-custom:hover {
  background: linear-gradient(45deg, #FF2525, #FFA800);
  border-color: transparent;
  color: #fff;
  border: none;
}
