* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.halogin {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.halogin .imgbx {
    position: relative;
    width: 50%;
}

.halogin .imgbx::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000, #5f0000);
    z-index: -1;
}

.halogin .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 140%;
}

.halogin .contentbx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.halogin .contentbx .formbx {
    width: 80%;
    height: 100%;
    padding: 0 20px;
}

.halogin .contentbx .formbx h2 {
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.halogin .contentbx .formbx p {
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
}

.halogin .contentbx .formbx .inputbx {
    margin-bottom: 20px;
}

.halogin .contentbx .formbx .inputbx p a {
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;
}

.halogin .contentbx .formbx .inputbx p a:hover {
    color: #f78585;
    text-decoration: none;
}

.halogin .contentbx .formbx span {
    font-size: 16px;
    margin-bottom: 5px;
    color: #000000;
    font-weight: 500;
    letter-spacing: 1px;
}

.halogin .contentbx .formbx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-size: 16px;
    color: #ff0000;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 30px;
    border: 2px solid #FF2525;
}

.inputbx .role {
    margin-bottom: 10px;
}

.form-check-label {
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inputbx .btn-primary {
    background: linear-gradient(to right, #FF2525, #FFA800);
    border: none;
    padding: 15px 15%;
    font-size: 14px;
    border-radius: 100px;
    width: 100%;
}

.modal-footer .btn-primary {
    background: linear-gradient(to right, #FF2525, #FFA800);
    border: none;
    color: white;
    padding: 15px 15%;
    font-size: 14px;
    border-radius: 100px;
    width: 80%;
}

.modal-footer .btn-primary:hover {
    background: linear-gradient(to right, #f75d5d, #f7c157);
}

.btn-custom:hover {
    background: linear-gradient(to right, #f85f5f, #f3bb4b);
}

.checkbox-options .form-check {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

.halogin .contentbx .formbx .sci {
    display: flex;
    justify-content: center;
    align-items: center;
}

.halogin .contentbx .formbx .sci li {
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    cursor: pointer;
    border: 2px solid;
    border-radius: 50%;
    border-color: #FF2525;
}

.halogin .contentbx .formbx .sci li:hover {
    background: linear-gradient(45deg, #FFA800, #FF2525);
}

.halogin .contentbx .formbx .sci li img {
    transform: scale(0.2);
}

.verification-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.verification-inputs input {
    text-align: center;
    letter-spacing: 0px;
    font-size: 45px;
    color: #000;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    border: 2px solid #ff5e00;
}

.verification-inputs input:focus {
    border-color: rgb(255, 0, 0);
    outline: none;
}

.verification-inputs input:valid {
    background: linear-gradient(#FFA800, #FF2525);
}

.verification-inputs input::placeholder {
    text-align: center;
    line-height: 60px;
}

.resend {
    color: #000000;
    font-size: 12px;
    padding-left: 30px;
    font-weight: 500;
}

.modal-body h5 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

.modal-body p {
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .verification-inputs input {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .halogin .imgbx {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .halogin .contentbx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .halogin .contentbx .formbx {
        width: 100%;
        border-radius: 5%;
        padding: 40px;
        background: rgba(255, 255, 255, 0.8);
        margin: 50px;
    }
}
