  .heading h2 {
    text-align: center;
    font-size: 26px;
    padding-top: 4%;
    padding-bottom: 1%;
    flex-wrap: wrap;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .uploadawal {
    flex: 1;
    padding-bottom: 8%;
  }
  
  .uploadawal img {
    display: flex;
    max-width: 800px;
    max-height: 400px;
    margin-left: auto;
    border-radius: 25px;
  }
  
  .datauser {
    flex: auto;
    margin-left: 20px;
    font-size: 18px;
  }
  
  .datauser .btn-primary {
    background-image: linear-gradient(to right, red, orange);
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .datauser .btn-primary:hover {
    background-image: linear-gradient(to right, rgb(248, 182, 59), rgb(245, 63, 63)); /* Mengubah arah gradien saat hover */
    transform: scale(1.05); /* Sedikit memperbesar tombol saat hover */
  }
  
  footer {
    background-color: #ff2525;
    padding: 30px 0;
    color: white;
  }
  
  .deskripsi {
    display: flex;
  }
  
  .deskripsi img {
    width: 100px;
    height: 100px;
  }
  
  .deskripsi p {
    padding-left: 10px;
    font-size: 12px;
  }
  
  @media (max-width: 768px) {
    .deskripsi p {
      display: none;
    }
  }
  
  .sitemap .nostyle li a,
  .sitemap .ul2 li a,
  .socmed .nostyle li a {
    color: white;
    text-decoration: none;
  }
  
  .sitemap .nostyle li a:hover,
  .sitemap .ul2 li a:hover,
  .socmed .nostyle li a:hover {
    font-weight: bold;
  }
  
  .sitemapk {
    display: flex;
    align-items: flex-start;
  }
  
  .sitemapk {
    display: flex;
    margin-right: 20px;
  }
  
  .sitemapk1 {
    display: flex;
    flex-direction: column;
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .tradisirasafooter,
  .sitemap,
  .socmed {
    flex-basis: 30%;
  }
  
  .tradisirasafooter img {
    max-width: 100px;
    margin-bottom: 10px;
  }
  
  .sitemap .ul2 {
    padding-left: 10px;
  }
  
  .sitemap ul,
  .socmed ul {
    list-style: none;
    padding: 0;
  }
  
  .sitemap li,
  .socmed li {
    margin-bottom: 5px;
  }
  
  .socmed img {
    max-width: 30px;
    margin-right: 10px;
  }
  
  .footer2 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .datauser .form-control {
    border: 2px solid #FF2525; 
    color: #FF2525; 
  }
  
  .datauser .form-control:focus {
    border: 2px solid #fa4545; 
    color: #FF2525; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9); 
  }
  
  .datauser .form-label{
    font-weight: 400px;
  }
  .datauser form{
    padding-bottom: 50px;
  }