@use "../utils" as *;
@use "../global" as *;

.section2 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 3900px;
  margin-bottom: 73;
}
.image1 {
  position: absolute;
  top: 84px;
  right: 1275px;
  bottom: auto;
  left: 127px;
  width: 38px;
  height: 35px;
}
.flex_col {
  position: absolute;
  top: 77px;
  right: 0px;
  bottom: 77px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  width: 1190px;
  height: 3753px;
}
.flex_col1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px 0px;
  width: 60.08%;
}
.articlejudul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 98.6%;
  font: italic 600 26px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: center;
}
.articledetail {
  font: italic 500 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: center;
}
.articledetail_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 98.6%;
}
.articledetail_span0 {
  font: italic 500 1em/1.5 "Poppins", Helvetica, Arial, serif;
}
.articledetail_span1 {
  font: 300 0.7777777777777778em/1.5 "Poppins", Helvetica, Arial, serif;
}
.engagement {
  position: relative;
  display: flex;
  gap: 0px 5px;
  margin: 18px 0px 0px;
  width: 18.57%;
}
.viewcount {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70px;
  min-width: 0px;
  min-height: 27px;
}
.rect {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 70px;
  height: 27px;
  border-radius: 10px 10px 10px 10px;
  outline: 1px solid rgb(255, 168, 0);
  outline-offset: -1px;
}
.viewicon {
  position: absolute;
  top: 8px;
  left: 14px;
  width: 16px;
  height: 11px;
}
.viewcounter {
  position: absolute;
  top: 7px;
  left: 30px;
  width: 14px;
  height: 14px;
}
.likecount {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70px;
  min-width: 0px;
  min-height: 27px;
}
.likeicon {
  position: absolute;
  top: 7px;
  left: 14px;
  width: 16px;
  height: 14px;
}
.likecounter {
  position: absolute;
  top: 7px;
  left: 30px;
  width: 14px;
  height: 14px;
}
.commentcount {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 71px;
  min-width: 0px;
  min-height: 27px;
}
.rect1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 71px;
  height: 27px;
  border-radius: 10px 10px 10px 10px;
  outline: 1px solid rgb(255, 168, 0);
  outline-offset: -1px;
}
.commenticon {
  position: absolute;
  top: 8px;
  left: 17px;
  width: 11px;
  height: 11px;
}
.commentcounter {
  position: absolute;
  top: 7px;
  left: 28px;
  width: 14px;
  height: 14px;
}
.deskripsi {
  position: relative;
  display: flex;
  align-items: center;
  margin: 35px 0px 0px;
  width: 79.66%;
  font: 400 14px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: justify;
}
.flex_col2 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 24px 0px 0px;
  width: 79.83%;
}
.juduldeskripsi {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0px 2px 0px 0px;
  font: 500 24px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: justify;
}
.deskripsi1 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 2px 0px 0px;
  font: 400 14px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: justify;
}
.gambarlangkah1 {
  position: relative;
  margin: 24px 0px 0px 4px;
  width: calc(100% - 4px);
}
.flex_col3 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 24px 0px 0px;
  width: 79.66%;
}
.juduldeskripsi1 {
  position: relative;
  display: flex;
  align-items: center;
  font: 500 24px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: justify;
}
.deskripsi2 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 0px 0px;
  font: 400 14px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: justify;
}
.gambarlangkah2 {
  position: relative;
  margin: 24px 0px 0px;
  width: 100%;
}
.deskripsi3 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1px 0px 0px;
  font: 400 14px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: justify;
}
.gambarlangkah3 {
  position: relative;
  margin: 24px 0px 0px;
  width: 100%;
}
.gambarlangkah4 {
  position: relative;
  margin: 24px 0px 0px 2px;
  width: calc(100% - 2px);
}
.juduldeskripsi2 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 2px;
  font: 500 24px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: justify;
}
.deskripsi4 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 0px 0px 2px;
  font: 400 14px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: justify;
}
.gambarlangkah5 {
  position: relative;
  margin: 24px 2px 0px 0px;
  width: calc(100% - 2px);
}
.gambarlangkah6 {
  position: relative;
  margin: 5px 0px 0px;
  width: 100%;
}
.deskripsi5 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 15px 0px 0px;
  font: 400 14px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: justify;
}
.flex_col4 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 30px 0px 0px;
  width: 100%;
}
.commentingbox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px 0px;
  width: 732px;
}
.flex_row {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0px 19px;
  width: 100%;
}
.image8 {
  position: relative;
  width: 39px;
  min-width: 0px;
  height: 40px;
}
.subtitle {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 0px;
  font: 500 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
}
.flex_row1 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0px 18px;
  width: 93.17%;
}
.image9 {
  position: relative;
  width: 51px;
  min-width: 0px;
  height: 51px;
}
.content_box3 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 613px;
  min-width: 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
  outline: 1px solid rgb(255, 168, 0);
  outline-offset: -1px;
}
.flex_row2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 18px 20px 18px 14px;
}
.highlight1 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1px 0px 2px;
  min-width: 0px;
  font: 400 16px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
}
.image10 {
  position: relative;
  width: 27px;
  min-width: 0px;
  height: 27px;
}
.medium_title {
  position: relative;
  display: flex;
  align-items: center;
  margin: 51px auto 0px;
  font: italic 600 26px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
}
.flex_row3 {
  position: relative;
  display: flex;
  gap: 0px 23px;
  margin: 28px 0px 0px;
}
.content_box4 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 381px;
  min-width: 0px;
  min-height: 306px;
}
.cover {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 381px;
  height: 306px;
  border-radius: 25px 25px 25px 25px;
}
.image {
  position: absolute;
  top: 20px;
  left: 19px;
  width: 343px;
  height: 189px;
}
.deskripsikecil {
  position: absolute;
  bottom: 19px;
  left: 19px;
  display: flex;
  align-items: center;
  width: 343px;
  height: 63px;
  font: 700 14px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
}
.content_box7 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 14px auto 0px;
  width: 477px;
  background: var(--src) center center / 100% 100% no-repeat;
  border-radius: 25px 25px 25px 25px;
}
.text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 17px auto;
  font: 400 14px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(248, 248, 248);
  text-align: center;
}
